@tailwind base;
@tailwind components;
@tailwind utilities;

.from-stone-900 {
    --tw-gradient-from: #DFC9B2 var(--tw-gradient-from-position);
    --tw-gradient-to: #EAEDED var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}